@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: -3rem; /* 160px - Jeszcze bardziej zwiększony margines */
}

/* --- Kod animacji karuzeli --- */
@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 55s linear infinite; /* ZMIANA: Wolniejsza animacja */
  }
}