@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: -3rem; 
}

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 55s linear infinite; 
  }

  @keyframes infinite-scroll-vertical {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-50%);
    }
  }

  .animate-infinite-scroll-vertical {
    animation: infinite-scroll-vertical 45s linear infinite;
  }
}